<footer class="bg-white rounded-t-lg shadow-sm p-4">
    <div class="mx-auto text-center">
      <span class="text-sm text-gray-500 uppercase">
        © 2025 <a href="https://flowbite.com/" class="hover:underline">SS Informática</a>. Todos os direitos reservados.
      </span>
    </div>
</footer>